body {
	background-color: #638bb5;
}

#editor, #console {
	margin-top: 0.7%;
	width: 44%;
	height: 560px;
	padding: 0;
}

#editor {
	margin-left: 5.5%;
	position: relative;
	float: left;
}

#console {
	position: relative;
	float: right;
	margin-right: 5.5%;
	padding-right: 0.5;
}

#programInput, #consoleOutput{
	background-color: #597da2;
	width: 100%;
	height: 100%;
	border-color: #4f6f90;
	font-family: 'Ubuntu Mono', ;
	font-size: 16px;
	resize: none;
}

#consoleOutput {
	height: 94%;
	margin-bottom: 0;
}

#programInput:focus, #consoleOutput:focus {
	outline: none;
	border: none;
}

#programInput {
	color: white;
	height: 94%;
}

#runBtn {
	height: 5%;
	float: right;
	width: 90px;
	padding: 0;
	margin-right: 0;
	background-color: white;
	border: none;
	font-family: 'Ubuntu Mono';
	font-size: 1.5em;
}

#consoleInput {
	background-color: #597da2;
	font-family: 'Ubuntu Mono';
	font-size: 17px;
	border: none;
	margin-top: 0;
	height: 5%;
	width: 100%;
	color: white;
	padding-left: 7px;
}

#consoleOutput {
	font-weight: bold;
	color: #b5ff43;
}

#header {
}

#header h2 {
	font-size: 1.8em;
	font-style: italic;
	text-align: center;
	color: white;
	font-family: 'Lobster Two', cursive;
}

#footer {
	font-family: Arial;
	font-size: 0.8em;
	text-align: center;
	margin: 0 auto;
	margin-top: 42%;
	color: white;
}

